@import url('https://fonts.googleapis.com/css?family=Roboto');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
    background-size: cover;
    background-color: #0C1AE8;
}
.banner{
    width: 300px;
    height: 250px;
    margin: 15px;
    padding: 15px;
    position: relative;
    box-sizing: border-box;
    background-color: #053C63
}
.banner .img1{
    position: absolute;
    top: 5px;
    right: 10px;
    width: 50px;
}
.banner .br1{
    color: white;
    font-size: 380%;
    line-height: 39pt;
    position: relative;  
}
.font1{
    margin-left: 5px;
    margin-top: 7px;
}


.banner2{
    width: 300px;
    height: 250px;
    margin: 15px;
    padding: 15px;
    position: relative;
    box-sizing: border-box;
    background-color: #A5DAE3; 
}
.banner2 .img2{
    position: absolute;
    top: 5px;
    right: 10px;
    width: 50px;
}
.banner2 .img3{
    position: absolute;
    top: 165px;
    left: 10px;
    width: 90px;
}
.banner2 .img4{
    position: absolute;
    top: 180px;
    left: 110px;
    width: 90px;
}
.banner2 .br2{
    color: white;
    font-size: 30pt;
    line-height: 26pt;
    position: relative;  
}
.font2{
    margin-left: 5px;
    margin-top: 25px;
}
 
.banner3{
    width: 300px;
    height: 250px;
    margin: 15px;
    padding: 15px;
    position: relative;
    box-sizing: border-box;
    background-color: #A5DAE3; 
}
.banner3 .img5{
    position: absolute;
    top: 5px;
    right: 10px;
    width: 50px;
}
.banner3 .img6{
    position: absolute;
    top: 121px;
    left: 8px;
    width: 65px;
}
.banner3 .img7{
    position: absolute;
    top: 94px;
    left: 99px;
    width: 265px;
}
.banner3 .br3{
    color: white;
    font-size: 32pt;
    line-height: 27pt;
    position: relative;  
}
.font3{
    margin-left: 5px;
    margin-top: -2px;
}



.banner4{
    width: 300px;
    height: 250px;
    margin: 15px;
    padding: 15px;
    position: relative;
    box-sizing: border-box;
    background-color: #A5DAE3;
}
.banner4 .img8{
    position: absolute;
    top: 5px;
    right: 10px;
    width: 50px;
}
.banner4 .img9{
    position: absolute;
    top: 133px;
    left: 20px;
    width: 90px;
}
.banner4 .img10{
    position: absolute;
    top: 97px;
    left: 113px;
    width: 257px;
}
.banner4 .br4{
    color: white;
    font-size: 30pt;
    line-height: 26pt;
    position: relative;
    margin-left: 5px;
    margin-top: -2px;  
}




.banner5{
    width: 300px;
    height: 250px;
    margin: 15px;
    padding: 15px;
    position: relative;
    box-sizing: border-box;
    background-color: #FECE2F;
}
.banner5 .img11{
    position: absolute;
    top: 5px;
    right: 10px;
    width: 50px;
}
.banner5 .br5{
    color: white;
    font-size: 42pt;
    line-height: 34pt;
    position: relative;
    margin-left: 5px;
    margin-top: 31px;  
}
.banner6{
    width: 300px;
    height: 250px;
    margin: 15px;
    padding: 15px;
    position: relative;
    box-sizing: border-box;
    background-color: #053C63;
}
.banner6 .img12{
    position: absolute;
    top: 5px;
    right: 10px;
    width: 50px;
}
.banner6 .img13{
    position: absolute;
    top: 218px;
    left: 1px;
    width: 45px;
}
.banner6 .img14{
    position: absolute;
    top: 224px;
    left: 52px;
    width: 60px;
}
.banner6 .img15{
    position: absolute;
    top: 89px;
    left: 113px;
    width: 257px;
}
.banner6 .br6{
    color: white;
    font-size: 32pt;
    line-height: 27pt;
    position: relative;
    margin-left: 5px;
    margin-top: 9px;
}
.banner6 .br7{
    color: white;
    font-size: 14pt;
    line-height: 12pt;
    position: relative;
    margin-left: 5px;
    margin-top: 25px;
}
.banner6 .br8{
    color: white;
    font-size: 8pt;
    border: 1px solid white;
    position: absolute;
    background: transparent;
    padding: 5px 10px;
    top: 160px;
    left: 20px;
}